
<link href="css/styles.css" rel="stylesheet">

    <form action="/user" method="POST" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">User Register</h1>

      <input type="text" name="name" class="form-control top" placeholder="Full Name" required autofocus>
      <input type="email" name="email" class="form-control bottom" placeholder="Email" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>