
<link href="css/styles.css" rel="stylesheet">

    <form action="/user/login" method="POST" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">User Login</h1>

      <input type="email" name="email" class="form-control middle" placeholder="Email" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </form>

    